<div class="container">
  <%= render "shared/errors", obj: @booking %>
  <div class="thumbnail">
    <div class="caption">
      <%= render 'bookings/form'%>
      <!--caption-->
    </div>
    <!--thumbnail-->
  </div>
  <!-- room-feature-->
</div>