<header style="margin-top: 5%">
  <div class="bs-example">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Carousel indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <!-- Wrapper for carousel items -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="https://res.cloudinary.com/dzrgwhm1s/image/upload/v1609584794/public/hotel-application/travel-media-hero-dlr-1200x300-01.jpg" alt="hotel-1">
        </div>
        <div class="item">
          <img src="https://res.cloudinary.com/dzrgwhm1s/image/upload/ar_16:9,c_fill,e_sharpen,g_auto,h_300,w_1200/v1609585288/public/hotel-application/hotel2.jpg" alt="hotel-2">
        </div>
        <div class="item">
          <img src="https://res.cloudinary.com/dzrgwhm1s/image/upload/v1609584820/public/hotel-application/tp06x_1200_300.jpg" alt="hotel-3">
        </div>
      </div>
      <!-- Carousel controls -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
</header>

<!-- Title -->
<div class="row">
  <div class="col-lg-12">
    <h3>Rooms</h3>
  </div>
</div>
<!-- /.row -->

<!-- Room Features -->
<div class="row text-center">

  <div class="col-md-3 col-sm-6 hero-feature">
    <div class="thumbnail">
      <img src="https://res.cloudinary.com/dzrgwhm1s/image/upload/v1609584841/public/hotel-application/Deluxe_20room.jpg" alt="Deluxe Room">
      <div class="caption">
        <h3>Deluxe Room</h3>
        <p>Queen Size Bed.</p>
        <p>
          <%= link_to 'Book Now!', new_booking_path(:room_type => "Deluxe Rooms"),class: "btn btn-primary"%>
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6 room-feature">
    <div class="thumbnail">
      <img src="https://res.cloudinary.com/dzrgwhm1s/image/upload/v1609585177/public/hotel-application/rome2.jpg" alt="Luxury Room">
      <div class="caption">
        <h3>Luxury Room</h3>
        <p>Queen Size Bed and Pool Facing.</p>
        <p>
          <%= link_to 'Book Now!', new_booking_path(:room_type => "Luxury Rooms"),class: "btn btn-primary"%>
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6 room-feature">
    <div class="thumbnail">
      <img src="https://res.cloudinary.com/dzrgwhm1s/image/upload/c_scale,h_580,w_960/v1609585177/public/hotel-application/rome2.jpg" alt="Luxury Suites">
      <div class="caption">
        <h3>Luxury Suites</h3>
        <p>King Size Bed and Pool Facing.</p>
        <p>
          <%= link_to 'Book Now!', new_booking_path(:room_type => "Luxury Suites"),class: "btn btn-primary"%>
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6 room-feature">
    <div class="thumbnail">
      <img src="https://res.cloudinary.com/dzrgwhm1s/image/upload/v1609584865/public/hotel-application/Villa-Issi-Gym.jpg" alt="Presidential Suites">
      <div class="caption">
        <h3>Presidential Suites</h3>
        <p>King Size Bed, Pool Facing, Gym.</p>
        <p>
          <%= link_to 'Book Now!', new_booking_path(:room_type => "Presidential Suites"), class: "btn btn-primary"%>
        </p>
      </div>
    </div>
  </div>

</div>
<!-- /.row -->