@import "bootstrap-sprockets";
@import "bootstrap";

.pl-3 {
  padding-left: 3% !important;
}

.register_form_margin{
  margin-left:25%;
  margin-right:25%  
}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }
 
.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
}
 
 .alert-notice {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    text-align: left;
 }
